@page
@model RoleTracker.Pages.Characters.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Seguro que quieres eliminar este personaje?</h3>
<div>
    <h4>Personaje</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Player)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Game.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Character.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
